<% include ./partials/header %>

<div class="container">   
    <div class="jumbotron mt-4 py-3">
        <h1 class="display-4 text-center">Editar <%= blog.titulo %></h1>
        <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" name="blog[titulo]" id="titulo" aria-describedby="titulo" value="<%= blog.titulo %>" placeholder="Título del artículo" required>
            </div>
            <div class="form-group">
                <label for="imagen">Imagen</label>
                <input type="text" class="form-control" name="blog[imagen]" id="imagen" value="<%= blog.imagen %>" placeholder="Url de la imagen" required>
            </div>
            <div class="form-group">
                <label for="cuerpo">Contenido</label>
                <textarea rows="3" class="form-control" name="blog[cuerpo]" id="cuerpo" placeholder="Contenido del articulo" required><%= blog.cuerpo %></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success btn-lg">Enviar</button>
            <a href="/blogs/<%= blog._id %>" class="btn btn-outline-danger btn-lg float-right">Volver</a>
        </form>
    </div>
</div>

<% include ./partials/footer %>