<% include ./partials/header %>

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-3 text-center">RESTful Blog App</h1>
</div>
<div class="container">
    <% blogs.forEach(function(blog) { %>
        <div class="row mb-4 articulo">
            <div class="col-sm-4">
                <img class="w-75" src="<%= blog.imagen %>">
            </div>
            <div class="col-sm-6">
                <h3 class="display-4 mb-2"><%= blog.titulo %></h3>
                <p class="text-muted mb-1"><%= blog.fecha.toLocaleDateString() %></p>
                <p class="lead mb-3"><%= blog.cuerpo.substring(0, 100) %>...</p>
                <a class="btn btn-outline-primary" href="/blogs/<%= blog._id %>">Leer más <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    <% }); %>
</div>

<% include ./partials/footer %>