<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto my-4">
            <div class="card text-white bg-dark mb-3">
                <h1 class="display-4 text-center"><%= blog.titulo %></h1>
                <img class="card-img-top" src="<%= blog.imagen %>" alt="Imagen articulo">
                <div class="card-body">
                    <p class="card-text lead"><%= blog.cuerpo %></p>
                    <p class="card-text"><small class="text-muted"><%= blog.fecha.toLocaleDateString() %></small></p>
                    <div class="d-inline-flex">
                        <a href="/blogs/<%= blog._id %>/edit" class="btn btn-warning">Editar</a>
                    </div>
                    <form class="form-inline d-inline-flex" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>